{% extends "base.html" %}
{% block head %}
<title>Profile</title>
{% endblock  %}
{% block body %}
<div class="container">
    <h1>Profile</h1>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.profile.description }}</p>
    <p>Phone: {{ user.profile.phone }}</p>
    <p>City: {{ user.profile.city }}</p>
    <p>Website: {{ user.profile.website }}</p>
    <p>Total Visits: {{ visits }}</p>
    <p>Last Visit: {{ last_visit }}</p>
    <img src="{{ user.profile.image.url }}" width="240">
</div>
{% endblock  %}